// Google Fonts

// Header
$header-height: 5rem;

// Variables
// Colors
$first-color-alt: hsl(201, 100%, 35%);
$first-color: hsl(201, 100%, 36%);
$first-color-light: hsl(227, 100%, 95%);
$title-color: hsl(210, 11%, 15%);
$text-color: hsl(210, 10%, 23%);
$text-color-light: hsl(208, 7%, 46%);
$border-color: hsl(210, 11%, 71%);
$body-color: #fff;

// Font Family

// Font Size

// Font Weight

// Margin

// Z Index

// Break Point
