.lsStatistic {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 28px;
  margin-bottom: 1.5rem;
}

.lsTableReorganize {
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  padding: auto;
  background-color: var(--body-color);

  border-top-left-radius: var(--normal-radius);
  border-top-right-radius: var(--normal-radius);

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.lsSearchWrap {
  margin-right: 1.25rem;
}
